@model dynamic

@{
    ViewBag.Title = "Confirm Email";
    Layout = "_Layout";
}

<div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="assets/img/photos/bg2.jpg">
</div>
<!--== End Page Header Area Wrapper ==-->

<!--== Start Faq Area Wrapper ==-->
<section class="page-not-found-area">
    <div class="container pt--0 pb--0">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-not-found-wrap">
                    <div class="page-not-found-thumb">
                        <h1 class="title">We are waiting for you!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>