@model dynamic

@{
    ViewBag.Title = "Not Found";
    Layout = "_Layout";
}

<!--== Start Faq Area Wrapper ==-->

<div class="error404">  
    <div class="page-not-found-content">
        <h2 class="title">Sorry, this page is not found.</h2>
        <a class="btn-theme" asp-controller="Home" asp-action="Index"><i class="icofont-long-arrow-left"></i> Back to home</a>
    </div>
</>

